<h2>User info</h2>

<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th></th>
    </tr>

    <tr>
      <th>introduction</th>
      <th></th>
    </tr>
  </tbody>
</table>

<div>edit picture</div>
<!-- link_to "picture", edit_user_path(@user.id) %>-->

<h4>New book</h4>
<%= form_with model: @user, local: true do |f| %>

<div>
  <div>Title</div>
  <%= f.text_field :title %>
</div>

<div>
  <div>Opinion</div>
  <%= f.text_area :body %>
</div>

<%= f.submit 'Create Book' %>

<% end %>

