<%= render 'users/user', users: @users %>
<h1>Users</h1>

  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>test</td>
        <td>test</td>
      </tr>

    </tbody>
  </table>


