// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// efit „ÅÆcss

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}